.mainheading{
    text-align: center;
    background-color: #ffffff;
    border-style: solid;
 }
 
 .nav{
    text-align: center;
    background-color: #325287;
    color:#ffffff;
    border-style: solid;
 }

.header{
     text-indent: 75px;
     padding-top: 15px;
}

.active { 
    background-color: #28385D;
}

